/*Reference: https://stackoverflow.com/questions/8232713/how-to-display-scroll-bar-onto-a-html-table*/
	#table-wrapper {
	  position:relative;
	}
	#table-scroll {
	  height:350px;
	  overflow:auto;  
	  margin-top:20px;
	}
	#table-wrapper table {
	  width:80%;
	}
	#table-wrapper table * {
	  background:white;
	}
	
	#table-wrapper table thead th .text {
	  position:absolute;   
	  top:-20px;
	  z-index:2;
	  height:20px;
	  width:35%;
	  border:1px solid red;
	}