<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<header>
		<h1>Dashboard</h1>
	</header>
	<body>
		<div th:text="${loggedInUser.username}"></div>
		<div th:text="${loggedInUser.password}"></div>
		<div th:text="${loggedInUser.userInfo.firstName}"></div>
		<div th:text="${loggedInUser.userInfo.lastName}"></div>
		<div th:text="${loggedInUser.userInfo.personalEmail}"></div>
		<p>
		<table>
			<thead>
				<tr>
					<td>Task</td>
					<td>Status</td>
					<td>Created</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task : ${loggedInUser.tasks}">
					<td th:text="${task.name}"></td>
					<td th:text="${task.status}"></td>
					<td th:text="${task.created}"></td>
					<td><a th:href="A">Delete</a></td>
					<td><a th:href="A">Edit</a></td>
				</tr>
			</tbody>
		</table>
		</p>
	</body>
</html>