<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<header>
		<h1>Welcome <label th:text="${user.username}"></label></h1>
		<form th:action="@{/dashboard/endsession}" method="POST">
			<input type="submit" value="Logout"/>
		</form>
	</header>
	<body>
		<form th:action="@{/dashboard/addTask}" th:object="${name}" method="POST">
			<input type="text" id="name" name="name"/>
			<input type="submit" value="Add Task"/>
		</form>
		<table>
			<thead>
				<tr>
					<td>Task</td>
					<td>Status</td>
					<td>Created</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task : ${user.tasks}">
					<td th:text="${task.name}"></td>
					<td th:text="${task.status}"></td>
					<td th:text="${task.created}"></td>
					<td><a th:href="@{/dashboard/deleteTask/{id}(id=${task.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>