<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Login Form</title>
	</head>
	
	<body>
		<div>
			<form th:action="@{/dashboard}" th:object="${loginForm}" method="POST">
				<p th:if="${invalidCredentials}" class="error">Username or Password is invalid</p>
				<table>
					<tr>
						<td >Username</td>
						<td>
							<input type="text"name="username"required />
						</td>
					</tr>
					
					<tr>
						<td>Password</td>
						<td>
							<input type="text"name="password"required/>
						</td>
					</tr>
					<tr>
						<td><input type="submit" value="Submit"/></td>
					</tr>
				</table>
			</form>
			<div>
				<a th:href="@{/registration}">Sign Up</a>
			</div>
		</div>
	</body>
</html>