<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<header>
</header>
<body>
	<h1>TESTS</h1>
	<table>
		<thead>
			<tr>
				<th>Task Id</th>
				<th>Task Name</th>
				<th>Status</th>
				<th>Created</th>
				<th>Owned By</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="task : ${tasks}">
				<td th:text="${task.id}"></td>
				<td th:text="${task.name}"></td>
				<td th:text="${task.status}"></td>
				<td th:text="${task.created}">
				<td th:text="${task.useraccount.username}"></td>
			</tr>
		</tbody>
	</table>
	
	<table>
		<thead>
			<tr>
				<th>User Id</th>
				<th>User name</th>
				<th>Password</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Personal email</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.password}"></td>
				<td th:text="${user.userInfo.firstName}"></td>
				<td th:text="${user.userInfo.lastName}"></td>
				<td th:text="${user.userInfo.personalEmail}"></td>
				<td th:text="${user.created}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>