<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/table_attr.css}"/>
</head>

<header>

</header>
<body>
<table>
	<tr>
		<td>Date Joined:</td>
		<td><label th:text="${dateTimeHelper.getDateDescription(user.created)}"></label></td>
	</tr>
	<tr>
		<td>You've had your account for:</td>
		<td><label th:text="${dateTimeHelper.getTimespanFromDate(user.created)}"></label></td>
	</tr>
	<tr>
		<td>Total number of tasks:</td>
		<td><label th:text="${noTasks}"></label></td>
	</tr>
	<tr>
		<td>Done:</td>
		<td><label  th:text="${noDone}"></label></td>
	</tr>
	<tr>
		<td>In Progress:</td>
		<td><label  th:text="${noInProgress}"></label></td>
	</tr>
	<tr>
		<td>Completion:</td>
		<td><label th:text="${donePerc}"></label></td>
	</tr>
</table>
</body>
</html>