<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<header>
	<title>Registration</title>
	<h2>Register</h2>
</header>

<body>
	<form th:action="@{/registerUser}" th:object="${registrationForm}" method="POST">
		<table>
			<tr>
				<td>Enter Username</td>
				<td><input type="text" name="username"/></td>
			</tr>
			<tr>
				<td>Enter Password</td>
				<td><input type="text" name="password"/></td>
			</tr>
			
			<tr>
				<td>Enter First Name</td>
				<td><input type="text" name="firstName"></td>
			</tr>
			
			<tr>
				<td>Enter Last Name</td>
				<td><input type="text" name="lastName"/></td>
			</tr>
			<tr>
				<td>Enter Personal Email</td>
				<td><input type="text" name="personalEmail"/></td>
			</tr>
			<tr>
				<td><input type="submit" value="Create Account"/></td>
			</tr>
		</table>
	</form>
</body>

</html>